body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    display: grid;
    width: 100%;
    gap: 10px;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media (min-width: 420px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    img {
        height: 100%;
    }
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
        width: 80%;
    }
    img:nth-of-type(2) {
        grid-column: 2 / span 2;
    }
    img:nth-of-type(3) {
        grid-column: 4/5;
        grid-row: 1 / span 3;
    }
    img:nth-of-type(4) {
        grid-row: 2 / span 2;
    }
    img:nth-of-type(6) {
        grid-column: 3;
        grid-row: 2 / span 2;
    }
}
